{%extends "base.html"%}
{%block content%}
<h1>Admin dashboard</h1>
{% if current_user.is_authenticated %}
<div>
    <a href="{{url_for('add_doc')}}">add doc</a>
</div>
<h3>Total Doctors</h3>

<h1 style>
    {{ dcount }}
</h1>
<h3>Total Patients</h3>
<h1>
    {{ pcount }}
</h1>



<div>
    <h2>Registered Doctors</h2>


</div>

<div>
    {% for doctor in doctors %}
    <div>

            Dr. {{ doctor.name }}


      
            <a href="{{ url_for('edit_doctor', doctor_id=doctor.id) }}">
                <button>
                    edit
                </button>
            </a>

           <form action="{{ url_for('delete_doctor', doctor_id=doctor.id) }}" method="POST">
    <button type="submit">
        delete
    </button>
</form>
     
    </div>
    {% else %}
    <p>No doctors registered yet.</p>
    {% endfor %}
</div>

<div>
    <h2>Registered Patients</h2>
</div>

<div>
    {% for patient in patients %}

        <span>
            {{ patient.name }}
        </span>


            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}">
                <button>
                    edit
                </button>
            </a>

            <form action="{{ url_for('delete_patient', patient_id=patient.id) }}" method="POST">
                <button type="submit">
                    delete
                </button>
            </form>
   
    </div>
    {% else %}
    <p>No patients registered yet.</p>
    {% endfor %}
</div>

<h1><a href="{{ url_for('logout') }}">LOG OUTTT</a></h1>
{% endif %}
{% endblock content %}